.pronounce {
    -fx-font-family: agency fb;
    -fx-font-weight: bold;
    -fx-text-fill: purple;
}

.level1 {
    -fx-font-family: agency fb;
    -fx-font-weight: bold;
}

.level2 {
    -fx-font-family: agency fb;
    -fx-font-style: italic;
}

.level3 {
    -fx-font-family: agency fb;
    -fx-text-fill: purple;
}